<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.akexorcist.bluetotohspp.library"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application>
        <activity
            android:name=".BluetoothDeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Dialog" />
    </application>

</manifest>
